{% extends "base.html" %}
{% load static %}
{% block content %}
                                <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
    <div class="row">
        <aside class="col-lg-3 d-none d-lg-block">
            {% include "includes/profile_vbar.html" %}
         </aside>
         <main class="col-12 col-lg-9">
        <article class="card">
        <header class="card-header">
            <strong class="d-inline-block mr-3">Edit your Profile</strong>
        </header>
        <div class="card-body">
            <div class="text-center mb-3">
                {% if profile_url %}
                <img src="{{profile_url}}" alt="User Profile Picture" width="80" height="80" style="border-radius:50%; border:5px solid blue;">
                {% else %}
                <img src="{% static "images/user-logo.png" %}" alt="User Profile Picture" width="80" height="80" style="border-radius:50%;  border:5px solid blue;">
                {% endif %}
            </div>
            <div class="row"> 
                <div class="col-md-12">
                    <form action="{% url 'edit_profile' %}" method='POST' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="first_name">First Name:</label>
                                 {{user_form.first_name}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="last_name">Last Name:</label>
                                {{user_form.last_name}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="first_name">Phone Number :</label>
                                {{user_form.phone_number}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="last_name">Profile Picture</label>
                                {{profile_form.profile_picture}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="first_name">Address</label>
                                {{profile_form.address}}
                                <div class="w-100">
                                    <small class="text-muted text-end d-block">powered by Google</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="city">City</label>
                                {{profile_form.city}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="last_name">Pincode </label>
                                {{profile_form.pincode}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="first_name">State</label>
                                {{profile_form.state}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="last_name">Country</label>
                                {{profile_form.country}}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
                
            </div> <!-- row.// -->
        </div> <!-- card-body .// -->
        </article> <!-- order-group.// --> 
    </main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
                                    

{% endblock content %}