{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        <aside class="col-lg-3 d-none d-lg-block">
            {% include "includes/profile_vbar.html" %}
        </aside>
        <main class="col-12 col-lg-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Your Order History</strong>
                
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-12">
                        <div class="table-responsive shadow-sm rounded">
                            <table class="table table-hover align-middle mb-0" id='myOrdersTable'>
                              <thead class="table-light text-uppercase small">
                                <tr>
                                  <th scope="col">Order #</th>
                                  <th scope="col">Billing Name</th>
                                  <th scope="col">Phone</th>
                                  <th scope="col">Order Total</th>
                                  <th scope="col">Date</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for order in orders %}
                                <tr>
                                  <th scope="row">
                                    <a href="{% url 'order_detail' order.order_number %}" class="text-decoration-none text-primary">
                                      {{ order.order_number }}
                                    </a>
                                  </th>
                                  <td>{{ order.full_name }}</td>
                                  <td>{{ order.phone_number }}</td>
                                  <td>₹{{ order.net_total }}</td>
                                  <td>{{ order.created_at|date:"d.m.Y" }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                       
                    </div>
                    
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock content %}