{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        <aside class="col-lg-3 d-none d-lg-block">
            {% include "includes/profile_vbar.html" %}
        </aside>
        <main class="col-12 col-lg-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged In as:</strong>
                <span>{{user.full_name}}</span>
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-6 mb-2">
                        <div class="card" style="text-align:center;">
                            <div class="card-body">
                                <h5 class="card-title">Total Orders</h5>
                                <h4>{{order_count}}</h4>
                                <a href="">View Orders</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="card" style="text-align:center;">
                            <div class="card-body">
                                {% if user_profile.profile_picture %}
                                <img src="{{user_profile.profile_picture.url}}" alt="user_logo" width="50" height="45" style="border-radius:50px;">
                                {% else %}
                                <img src="{% static 'images/user-logo.png'%}" alt="user_logo" width="50" height="45" style="border-radius:50px;">
                                {% endif %}
                                <p class="mb-0">{{user.email}}</p>
                                <span>{{user.phone_number}}</span>
                            </div>
                        </div>
                    </div>
                    
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock content %}